@font-face {
    font-family: "TheWitcher";
    src: url("fonts/TheWitcher.ttf");
}

body {
    margin: 0;
    text-align: center;
    font-family: "TheWitcher", sans-serif;
}

.hero{
    background-image: url("images/TW3_screen-Novigrad.webp");
    padding: 100px;
    padding-bottom: 400px;
    background-position: center;
    color: #ffffff;
    text-shadow: 3px 3px 0px black;
    position: relative;
}

#headline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}

.activities {
    display: flex;
    flex-direction: column;
    background-color: #d7effc;
    padding-top: 50px;
    padding-bottom: 50px;
}

#activities-images {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
}

#activities-images > div{
    width: 300px;
}

#activities-images > div > img {
    width: 100px;
}


.guide{
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.guide > div{
    max-width: 700px;
    display: flex;
    padding: 30px;
    background-color: #C4A484;
    border-radius: 20px;
    
}

#geralt{
    width: 300px;
    height: auto;
    border-radius: 50px;
}